<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/images/avatar5.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>@User.Identity.Name</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Quản trị hệ thống</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa  fa-cog"></i> <span>Sơ đồ tổ chức</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="">
                        <a href="#">
                            <i class="fa fa-file-o"></i>
                            <span>
                                Công ty
                            </span>
                        </a>
                    </li>
                    <li class="">
                        <a href="#">
                            <i class="fa fa-file-o"></i>
                            <span>Khối</span>
                        </a>
                    </li>

                    <li class="">
                        <a href="~/Administration/Departments/List">
                            <i class="fa fa-file-o"></i>
                            <span>Phòng ban</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="#">
                            <i class="fa fa-file-o"></i>
                            <span>Cấp bậc</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-users"></i> <span>Người dùng và quyền hạn</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="">
                        <a href="~/administration/users/list">
                            <i class="fa fa-file-o"></i>
                            <span>
                                Người dùng
                            </span>
                        </a>
                    </li>
                    <li class="">
                        <a href="~/Administration/scopes/list">
                            <i class="fa fa-file-o"></i>
                            <span>
                                Scope
                            </span>
                        </a>
                    </li>
                    <li class="">
                        <a href="~/Administration/clients/list">
                            <i class="fa fa-file-o"></i>
                            <span>
                                Client
                            </span>
                        </a>
                    </li>
                    <li class="">
                        <a href="#">
                            <i class="fa fa-file-o"></i>
                            <span>
                                Nhóm quyền
                            </span>
                        </a>
                    </li>
                    <li class="">
                        <a href="#">
                            <i class="fa fa-file-o"></i>
                            <span>
                                Quyền trên trang
                            </span>
                        </a>
                    </li>
                    <li class="">
                        <a href="#">
                            <i class="fa fa-file-o"></i>
                            <span>
                                Phân quyền
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</aside>
